 .calculator {
  align-items: center;
  padding: 10%;
 }

 .col-9.tablero {
   background: #201b1b;
   color: white;
   padding-top: 20px;
   padding-bottom: 0px;
 }

 .row.numeradorSeccion {
   font-size: 30px;
   color: white;
 }

 .row.arriba {
  margin-top: 4%;
 }

 .col-2.operadorSeccion {
   background: #5f5353;
   justify-content: center;
   padding-left: 5%;
 }

 .col-1.dropdown.secreto {
   padding: 0;
   background: #3f3fec;
 }

 .btn.secreto {
   padding: 0;
 }

 .operador {
   color: white;
   font-size: 17px;
   padding: 5px;
   text-align: center;
   padding-top: 25px;
 }

 .col-4.numeradores {
   color: white;
   padding-bottom: 25px;
 }

  a.col-4.numeradores {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
  }

  button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
  }
  
  button:active {
    box-shadow: inset 0px 0px 80px 0px white(0,0,0,0.25);
  }

  .botoncito {
    line-height: 290px;
    font-size: 20px;
    margin-left: 28%;
    color: black;
  }

  .col-1.barra-azul {
    width: 100%;
    background: #3f3fec;
    padding: 0;
  }

  .oculto {
    opacity: 0;
    margin-top: -200px;
    margin-left: 40px;
  }

  .dropdown-menu {
    margin-top: -50%;
    margin-left: -280px;
    min-width: 16rem;
    max-width: 17rem;
    max-height: 7rem;
    background: gray;
  }

  .dropdown-item {
    overflow: scroll;
    height: 6rem;
    width: 16rem;
    background: whitesmoke;
  }

  .resete {
    color: black;
  }

  .dropdown-item-2 {
    font-size: 1rem;
    font-weight: bold;
    background: rgb(192, 55, 55);
    float: right;
    border-radius: 0.5rem;
    margin-top: 0%;
  }

  .dropdown-menu.dropdown-menu-right.nuevo {
    margin-top: 15.8rem;
    max-width: 19rem;
    width: 16rem;
    margin-left: 3.3rem;
    height: 18.75rem;
    max-height: 25rem;
    background: #3f3fec;
  }

  .dropdown-item-3 {
    color: white;
    // margin-left: 50%;
    font-size: 2rem;
    margin-top: -70%;
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .dropdown-menu.dropdown-menu-right.rad {
    margin-top: -10%;
    height: 7rem;
    margin-left: 0px;
  }

  .decoracion {
    font-size: 1rem;
    color: black;
    margin-left: 35%;
  }

  .dropdown-item.rad {
    height: 5rem;
  }

  .lula {
    margin-left: 0%;
  }

  .dropdown-item-4 {
    margin-top: 30%;
    color: black;
  }

  // .col-3.dropdown {
  //   padding: 0px;
  // }

  // .col-1.barra-azul:active {
  //   width: 700px;
  //   margin-left: -75px;
  // }

  // .col-1.barra-azul:active .botoncito{
  //   -moz-transform: rotate(-180deg);
  // }

  // .col-1.barra-azul:active .oculto{
  //   opacity: 1;
  // }
  
  .historial {
    -moz-transform: rotate(-90deg);
    font-size: 17px;
    color: #5f5353;
    font-weight: bold;
    margin-top: 5px;

   }
 
  .calculator-display {
    color: black;
    background: white;
    line-height: 200px;
    font-size: 3em;
  }

  .auto-scaling-text {
    display: inline-block;
  }

  .achicate {
    overflow:hidden;
    text-overflow: ellipsis; 
  }

  .escalaa {
    font-size:7em;
  }

  .limite {
    color: red;
    position: relative;
    padding: 0px;
    z-index: 1;
    font-size: 3em;
    font-weight: bold;
  }


  .calculator-display .auto-scaling-text {
    padding: 0 10px;
    margin-right: 48%;
    left: 0;
    transform-origin: left;
  
  }

  .centrado {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: right;
}
  

  .rad {
    font-size: 10px;
    color: #5f5353;
    font-weight: bold;
    margin-top: 4%;
  }
  
